<h1>Product show page</h1>
<div class="flex justify-center gap-20 py-10">
  <div class="flex flex-wrap max-w-lg">
    <% if @product&.images.attached? %>
      <% @product.images.each do |image| %>
        <%= image_tag image, class: "w-auto h-64" %>
      <% end %>
    <% else %>
      <p>No images available for this product.</p>
    <% end %>
  </div>
</div>

<div class="flex flex-col items-start max-w-sm">
  <h1 class="font-bold text-4xl uppercase"><%= @product.name %></h1>
  <p class="text-2xl mt-4">$<%= (@product.price / 100.0).to_s %></p>
  <p class="text-md py-8"><%= @product.description %></p>
  <div class="my-8">
    <p class="uppercase text-lg">Size</p>

    <%= form_with url: add_item_to_cart_path, method: :post, local: true do %>
      <div>
        <% @product.stocks.each do |stock| %>
          <% if stock.amount > 0 %>
            <label>
              <%= radio_button_tag :size, stock.size %> <%= stock.size %>
            </label>
          <% else %>
            <label>
              <%= radio_button_tag :size, stock.size, disabled: true %> <%= stock.size %> (Out of Stock)
            </label>
          <% end %>
        <% end %>
      </div>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= submit_tag "Add to Cart", class: "inline-flex items-center justify-center px-5 py-3 border border-transparent font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
    <% end %>
  </div>
</div>